# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\symfony trabajos\tiendas\pasarelaPagos\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
